.frame {						
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	position: relative;
  	color: white;
	
  	
}
.left{
font-style: italic;
font-size: 24px;
color: black;
}

.right {
 	position: absolute;
	right: 0;
}

.snap-title{
	margin : 45px ;
	text-align: center;
	font-size:13%;
	text-decoration:underline solid green;
}

.line-hr{
border: ;
}

